<h1>Welcome <%= @user.name %></h1>

Please use the following credential,<br/><br/>
You are enrolled into the "My Recipe App"
email: <%= @user.email %><br/>
Please contact support for your credentials to login.

Please click here to visit the login page <%= @user.company.url %>