<h1>Welcome <%= @user.name %></h1>

You are officially added to the My Recipe Website,<br/><br/>
email: <%= @user.email %><br/>

Please contact support for the further steps.

Please click here to visit the login page <%= @user.company.url %>